*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}
*::-webkit-scrollbar{
    width: 8px;
    background: aliceblue;
}
.App {
    min-height: 98.5vh;
    border: 3px solid aliceblue ;
    padding: 5px;
    margin: 5px;

}
